<%= form_for(@url,url: "/") do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, placeholder: "https://google.com" %><span><i><%= "(e.g. https://google.com)" %></i></span>
  </div>
  <div class="field">
    <%= f.label :code, "Short link Code - optional " %><br>
    <%= f.text_field :code, placeholder: "short_link_code" %>
    <span><i><%= "(e.g. #{root_url}short_link_code)" %></i></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
