<p id="notice"><%= notice %></p>

<h1>Listing Urls</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Short Url</th>
      <th>Times Used</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.url %></td>
        <td><%= link_to "#{url.short_url}","/#{url.code}" %></td>
        <td><%= url.usage %></td>
        <td><%= link_to 'Destroy', "/#{url.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', root_path %>
